*.swp
*.swo
*.pid
*.xml
*.csr
*.crt
*.key
www
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
*.db-journal
lib
deps
tts
secrets.yaml
known_devices.yaml
entity_registry.yaml
*.conf
pyozw.sqlite
__pycache__
.*
!/.gitignore
!/.travis.yml
ip_bans.yaml
/icloud/*
/custom_components/hacs
